.shape-3 {
    animation-iteration-count: infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes snowing0 {
    0% {
        opacity: 1;
        margin-top: -5vh;
        margin-left: 0vw;
    }
    70% {
        margin-top: 97vh;
        margin-left: 5vw;
    }
    100% {
        opacity: 0;
        margin-top: 98vh;
        margin-left: 5vw;
    }
}

@keyframes snowing1 {
    0% {
        opacity: 1;
        margin-top: -5vh;
        margin-left: 0vw;
    }
    70% {
        margin-top: 95vh;
        margin-left: 10vw;
    }
    100% {
        opacity: 0;
        margin-top: 96vh;
        margin-left: 10vw;
    }
}

@keyframes snowing2 {
    0% {
        margin-top: -5vh;
        margin-left: 0vw;
        opacity: 1;
    }
    70% {
        margin-top: 96vh;
        margin-left: 15vw;
    }
    100% {
        margin-top: 97vh;
        margin-left: 15vw;
        opacity: 0;
    }
}

@keyframes snowing3 {
    0% {
        margin-top: -5vh;
        margin-left: 0vw;
        opacity: 1;
    }
    70% {
        margin-top: 96vh;
        margin-left: 23vw;
    }
    100% {
        margin-top: 97vh;
        margin-left: 25vw;
        opacity: 0;
    }
}