$primary-color: rgb(231, 164, 38);
$hover-color: rgb(196, 115, 10);
$selected-color: turquoise;
$anim-duration: 125ms;

.SheetPage {
    overflow-x: hidden;

    .TemplateOverlay {
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity $anim-duration linear;
        
        &.show {
            opacity: .15;
        }
    }

    .TemplateSwapper {
        position: fixed;
        background-color: white;
        border-bottom-right-radius: 16px;
        transition: all $anim-duration linear;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: rgba(0,0,0,.9);
        transform: translateY(-100vh);
        transition: all $anim-duration linear;
        padding: 1rem;
        z-index: 99;
        border-radius: 4px;

        &.show {
            transform: translateY(0vh);
        }

        span {
            line-height: .5rem;
        }

        .title-wrapper {
            display: flex;
            justify-content: space-between;

            h2 {
                margin: auto 0;
            }

            svg {
                margin: auto 0;
                cursor: pointer;
            }
        }
        
        .contents {
            max-height: 75vh;
            overflow: scroll;

            .TemplateItem {
                background-color: $primary-color;
                border-radius: 4px;
                margin: .5rem auto;
                padding: .5rem 1rem;
                cursor: pointer;

                &.selected {
                    background-color: $selected-color;
                }

                &:hover {
                    background-color: $hover-color;
                }

                .title {
                    color: white;
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                .description {
                    margin-top: .25rem;
                    display: block;
                    color: white;
                    font-weight: 200;
                    font-size: 1rem;
                }
            }
        }
    }

    .EditBtn {
        background-color: $primary-color;
        padding: .2rem 1rem;
        text-align: center;
        cursor: pointer;
        transition: all $anim-duration linear;
        position: fixed;
        // margin: auto;
        left: 0;
        top: 0;
        z-index: 98;
        width: fit-content;
        border-bottom-right-radius: 4px;

        a {
            color: white!important;

            
        }

        span {
            line-height: .5rem;
            font-size: .75rem;
            margin-right: 6px;
        }


        &:hover {
            background-color: $hover-color;
        }
    }

    .Publish {
        position: fixed;
        top: 0;
        right: 0;
        background-color: $primary-color;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        transition: all $anim-duration linear;
        position: fixed;
        z-index: 98;
        border-bottom-left-radius: 16px;

        &:hover {
            background-color: $hover-color;
        }
    }

    .Template-wrapper {
        // margin: 1rem;
        // border: 1px solid black;
    }

    #new_spreadsheet {
        background-color: $primary-color;
        color: white;
        border-radius: 12px;
        width: fit-content;
        padding: 8px 12px;
        cursor: pointer;
        font-weight: bold;
        margin: auto;
        transition: all $anim-duration linear;

        &:hover {
            background-color: $hover-color;
        }
    }
}


.Pricing {
    // text-align: center;

    p {
        text-align: center;
    }

    .pricing-header {
        font-size: 8rem;
        // margin-left: 1rem;
        width: 75%;
        margin: auto;
        
        span {
            display: block;

            &:after {
                content: '.';
            }
        }
    }

    .Wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

.PricingCard {
    background-color: #EEE;
    margin: 1rem;
    padding: 1rem;
    color: black;
    max-width: 45vw;
    width: 300px;
    height: 250px;
    border-radius: 6px;
    cursor: pointer;
    transition: all $anim-duration linear;

    h1, h2 {
        text-align: center;
        font-size: 1.7rem!important;
    }

    .price {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
    }

    &:hover {
        background-color: $hover-color;
        color: white;
    }
}

// Upon highlighting objects to be changed
.Editable {
    transition: all $anim-duration linear;
    position: relative;

    .controls {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        z-index: 99;
        background-color: white;
        border-bottom-left-radius: 4px;
        padding: .25rem;
        box-shadow: 1px 1px 1px rgba(0,0,0,.15);
        top: 0; 
        right: 0;  
    }

    &:hover .controls {
        opacity: 1;
        pointer-events: all;
    }

    * {
        transition: all $anim-duration linear;
    }
}