.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  /* cursor: pointer; */
  cursor: default;
}

.App.nocursor {
  cursor: none;
}

* {
  overflow: hidden;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrongCount-container {
  position: absolute;
  color: white;
  font-size: 3rem;
  width: fit-content;
  height: fit-content;
  left: 1vw;
  top: 1vh;
  font-weight: 800;
  /* background-color: black; */
  z-index: 2;
  pointer-events: none;
}

.wrongCount-container:after {
  /* content: ' Mistakes'; */
}

.start-container {
  color: white;
  margin-top: 10vh;
  font-size: 2.5rem;
}

.start-container:nth-child(1) {
  font-size: 3rem;
}

.subheader {
  font-size: 1.5rem;
  display: block;
}
/* .subheader:before {
  content: ' - ';
} */