$primary-color: orange;
$hover-color: rgb(10, 196, 10);
$selected-color: turquoise;
$anim-duration: 150ms;

.SheetPage {
    .TemplateSwapper {
        position: fixed;
        background-color: $primary-color;
        border-bottom-left-radius: 16px;
        transition: all $anim-duration linear;
        right: 0;
        top: 0;
        height: 50px;
        padding: 1rem;
        color: rgba(0,0,0,.9);

        span {
            line-height: .5rem;
        }

        .TemplateItem {
            background-color: {

            }

            &.selected {
                background-color: $selected-color;
            }
        }

        &:hover {
            background-color: $hover-color;
        }
    }

    .EditBtn {
        background-color: $primary-color;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        transition: all $anim-duration linear;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        width: fit-content;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;

        a {
            color: white!important;

            span {
                line-height: .5rem;
            }
        }


        &:hover {
            background-color: $hover-color;
            opacity: .5;
        }
    }

    .Template-wrapper {
        // margin: 1rem;
        // border: 1px solid black;
    }

    #new_spreadsheet {
        background-color: $primary-color;
        color: white;
        border-radius: 12px;
        width: fit-content;
        padding: 8px 12px;
        cursor: pointer;
        font-weight: bold;
        margin: auto;
        transition: all $anim-duration linear;

        &:hover {
            background-color: $hover-color;
        }
    }
}


.Pricing {
    // text-align: center;

    p {
        text-align: center;
    }

    .pricing-header {
        font-size: 8rem;
        // margin-left: 1rem;
        width: 75%;
        margin: auto;
        
        span {
            display: block;

            &:after {
                content: '.';
            }
        }
    }

    .Wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

.PricingCard {
    background-color: #EEE;
    margin: 1rem;
    padding: 1rem;
    color: black;
    max-width: 45vw;
    width: 300px;
    height: 250px;
    border-radius: 6px;
    cursor: pointer;
    transition: all $anim-duration linear;

    h1, h2 {
        text-align: center;
        font-size: 1.7rem!important;
    }

    .price {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
    }

    &:hover {
        background-color: $hover-color;
        color: white;
    }
}